@using Ski.Domain.Cart;
@{

	Cart? cart = (Cart?)ViewBag?.Cart;
	if (cart == null)
	{
		cart = new();
	}
}
<a class="navbar-text ms-auto" asp-controller="Cart" asp-action="Index">
	
		@(cart.TotalPrice) $ <i class="fa-solid fa-cart-shopping"></i> (@(cart.Count))
	

</a>
