@model SelectList
@{
    ViewBag.Title = "Index";
}

   
    <span style="font-size: 50px">
        <h1>@ViewData["text"]</h1>
        </span>
        <h2>Список</h2>
        <ol style="list-style-type:upper-alpha;">
        @for (int i = 0; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
        </ol>
        <hr />
        <h2><b>Форма</b></h2>
       @*  <form method="post" action="xxx"> *@
        <form role="form" method="post" asp-action="Index">
            <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <select class="form-select " asp-items="Model" name="selDemo"></select>
            </div>
        </div>
<p></p>
            <div class="form-check" style="margin-left: 220px;">
                <input class="form-check-input" name="CheckBox" type="checkbox" id="chek1" value="12" />
                <label class="form-check-label" for="chek1">
                    Чек-бокс 1
                </label>
            </div>
            <div class="form-check" style="margin-left: 220px;">
                <input class="form-check-input" name="CheckBox" type="checkbox" id="chek2" value="17" />
                <label class="form-check-label" for="chek2">
                    Чек-бокс 2
                </label>
            </div>
            <div>
            </div>
            <span class="form-check" style="margin-left: 220px;">
                <div class="row">
                    <div class="col-1">
                        <input class="form-check-input" type="radio" name="RadioDef" value="1" id="radio1" />
                        <label class="form-check-label" for="radio1">
                            Радио-1
                        </label>
                    </div>
                    <div class="col-1">
                        <input class="form-check-input" type="radio" name="RadioDef" value="2" id="radio2" />
                        <label class="form-check-label" for="radio2">
                            Радио-2
                        </label>
                    </div>
                    <div class="col-1">
                        <input class="form-check-input" type="radio" name="RadioDef" value="3" id="radio3" />
                        <label class="form-check-label" for="radio3">
                            Радио-3
                        </label>
                    </div>
                </div>
            </span>


            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Логин:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticEmail" placeholder="Введите имя">

                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Пароль:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
   
   